---
// src/pages/index.astro
import App from "./_app.astro";
import Header from "@/components/Header.astro";
---

<App>
  <Header />
  <h1 class="text-4xl font-bold underline text-center">Hello world</h1>
</App>
