---
import Section from "./ui/Section.astro";
---

<Section id="skills">
  <div class="flex flex-col md:flex-row items-center justify-center h-full">
    <div class="w-full md:w-1/2 p-4">
      <h2 class="text-3xl font-bold mb-4">Skills</h2>
      <p class="text-lg leading-relaxed mb-8">
        I have experience in the following technologies:
      </p>
      <ul class="list-disc pl-6">
        <li class="mb-4">C#</li>
        <li class="mb-4">ASP.NET Core</li>
        <li class="mb-4">Entity Framework</li>
        <li class="mb-4">JavaScript</li>
        <li class="mb-4">React</li>
        <li class="mb-4">Tailwind CSS</li>
        <li class="mb-4">HTML</li>
      </ul>
    </div>
  </div></Section
>
